*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 500px;
    width: 90vw;
    margin: 50px auto;
    display: flex;
}

.card{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    flex-grow: 0.5;
    margin:0px 3px;
    border-radius: 20px;
    position: relative;
}

.active{
    flex:9;
    transition:all 0.7s;

}
h1{
    color: white;
    position: absolute;
    bottom: 15px;
    left: 15px;
}